<!DOCTYPE html>
<html>
<head>
  <title>BathroomBnb</title>

  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyDVAu-3Y7lfE4G0-TmPEXFQzj13Eepfw3Q" %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
